body {
    top: 0;
    background-image: url(background.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.sun{
    height: 200px;
}
.orbit{
    position: absolute;
    border: white dashed 2px;
    border-radius: 50%;
    width: var(--orbit-size);
    height: var(--orbit-size);
    animation: var(--orbit-animation);
}
.planet{
    position: absolute;
    z-index: 5;
    width: var(--planet-size);
    height: var(--planet-size);
    left: var(--planet-left);
    top: var(--planet-top);
    animation: var(--planet-animation);
}
@keyframes rotation{
    from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}